* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 500px;
}

ul li {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 5px 10px;
    position: relative;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.25);
    /* IE */
    -moz-transform: scale(1.25);
    /* FF */
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    margin-right: 10px;
}


#todolist,
#donelist {
    width: 100%;
}

#main {
    position: relative;
    text-align: center;
}

#newPTag {
    position: absolute;
    left: 450px;
}

#btnDelete {
    position: absolute;
    font-size: 12px;
    right: 5px;
}

#newItem {
    width: 400px;
    margin-right: 5px;
}

#notifyEmpty {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 100px;
}

#list-type-progress {
    padding-left: 246px;
    font-size: 28px;
}

#list-type-done {
    padding-left: 278px;
    font-size: 28px;
}

.done {
    background-color: darkgray;
    text-decoration: line-through;
}

.undone {
    background-color: #eee;
}

.listdiv {
    width: 90%;
}

.list-todo {
    background-color: rgb(169, 247, 169);
    border: 1px solid lightgreen;
}

.list-done {
    background-color: rgb(154, 212, 248);
    border: 1px solid lightskyblue;
}

.column {
    float: left;
    width: 50%;
    padding: 25px 0 0 55px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

