body {
    margin: 0;
    display: grid;
    row-gap: 10vh;
    background-color: #272628;
    font-family: 'Nunito', sans-serif;
}

header {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    background-color: #334154;
    color: #DBD7D5;
}

header a {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    text-decoration: none;
    color: white;
    grid-row: 1;
    grid-column: 6 / span 15;
}

header a h1 {
    grid-row: 1;
    grid-column: 2 / span 9;
    margin: 0;
    font-size: 2.5rem;
}

header a img {
    margin: auto;
    grid-row: 1;
    grid-column: 1 / span 1;
    width: 3.1rem;
    height: 3.1rem;
}

header #button-div {
    grid-row: 1;
    grid-column: 38 / span 10;
}

header #button-div button {
    border: none;
    background-color: inherit;
    color: white;
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

header #button-div button:hover {
    color: #acacac;
}

article {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    row-gap: 5.7vh;
}

#select-gain {
    grid-row: 2;
    grid-column: 28 / span 2;
}

ul {
    margin-top: 50px;
    padding: 0;
}

ul li {
    list-style-type: none;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

input[type='text'],
input[type='date'],
input[type='number'] {
    font-size: 1.1rem;
    color: white;
    border: 1px solid #342E32;
    background-color: #342E32;
}

#total-value {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1;
    grid-column: 1 / span 30;
    color: #DCF5FF;
    font-size: 3.0rem;
}

#main {
    grid-row: 3;
    grid-column: 1 / span 30;
    display: grid;
    grid-template-columns: repeat(5, 300px);
    column-gap: 4vw;
    row-gap: 30px;
    justify-self: center;
}

#button-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal {
    grid-row: 1;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    grid-template-columns: repeat(30, 1fr);
}

#modal-content {
    grid-column: 10 / span 12;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: 40px 30px repeat(4, 25px) 30px;
    row-gap: 25px;
    background-color: #342E32;
    color: white;
    margin: 20vh 0;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 0.35rem;
    align-items: center;
}

#btn-close-modal {
    grid-row: 1;
    grid-column: 49 / span 1;
    color: #aaaaaa;
    top: 1.5%;
    right: 3%;
    font-size: 36px;
    font-weight: bold;
}

#btn-close-modal:hover,
#btn-close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#select-type {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-row: 2;
    grid-column: 1 / span 50;
}

#select-type p,
#autocomplete p,
#price-per-share-span p,
#quantity-span p,
#transaction-span p {
    display: flex;
    align-items: center;
    justify-content: left;
    grid-row: 1;
    grid-column: 1 / span 6;
    margin: 0;
}

#autocomplete {
    position: relative;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-row: 3;
    grid-column: 1 / span 50;
}

#input-ticker,
#input-price,
#input-quantity,
#input-date {
    padding: 7px;
    grid-row: 1;
}

#input-ticker {
    grid-column: 15 / span 16;
}

#input-price {
    grid-column: 15 / span 16;
}

#input-quantity {
    grid-column: 15 / span 16;
}

#input-date {
    grid-column: 15 / span 9;
}

@media screen and (max-width: 1490px) {
    #input-ticker {
        grid-column: 14 / span 16;
    }

    #input-price {
        grid-column: 14 / span 16;
    }

    #input-quantity {
        grid-column: 14 / span 16;
    }

    #input-date {
        grid-column: 14 / span 9;
    }
}

#input-date {
    padding: 2px 7px;
}

#input-ticker:focus,
#input-price:focus,
#input-quantity:focus,
#input-date:focus {
    border: 1px solid dodgerblue;
    border-radius: 0.3rem;
    outline: none;
    box-shadow: 0 0 0 1px dodgerblue;
}

#match-candidates {
    position: absolute;
    z-index: 100;
    background-color: #342E32;
    grid-row: 2;
    grid-column: 15 / span 15;
}

#price-per-share-span {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-row: 4;
    grid-column: 1 / span 50;
}

#quantity-span {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-row: 5;
    grid-column: 1 / span 50;
}

#transaction-span {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-row: 6;
    grid-column: 1 / span 50;
}

#edit-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 8;
    grid-column: 1 / span 50;
}

#btn-edit-position {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #aaaaaa;
}

#btn-edit-position:hover,
#btn-edit-position:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.stock-item {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: 397px;
    justify-self: center;
    color: #000;
    border-radius: 0.45rem;
}

.match-items {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    row-gap: 6px;
    border: 1px solid white;
}

.match-items .company-name {
    white-space: pre-wrap;
    font-size: 1.3rem;
    grid-row: 1;
    grid-column: 1 / span 30;
}

.match-items .ticker-name {
    grid-row: 2;
    grid-column: 1 / span 15;
}

.match-items .exchange-name {
    grid-row: 2;
    grid-column: 23 / span 2;
}

.match-items:not(:nth-child(1)) {
    border-top: none;
}

.match-items:hover {
    background-color: #808080;
}

.match-items pre {
    margin: 0;
}

.company-name strong,
.ticker-name strong {
    color: dodgerblue;
}

div[id^="company-name-and-ticker-"] {
    display: grid;
    grid-template-columns: auto;
    grid-row: auto;
    row-gap: 0;
}

div[id^="real-time-price-"] {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(220, 245, 255)
}

div[id^="today-gain-"] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

div[id^="total-gain-"] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.show-more {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.btn-show-more {
    cursor: pointer;
}

.btn-show-more:hover {
    color: #acacac;
}

.delete-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-icons {
    cursor: pointer
}

.material-icons:hover {
    color: #acacac;
}
.item-company-name {
    grid-row: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 700;
}

.item-company-ticker-and-exchange {
    grid-row: 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 300;
}

@media screen and (max-width: 1570px) {
    #main {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1290px) {
    #main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 980px) {
    #main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 715px) {
    #main {
        grid-template-columns: repeat(1, 1fr);
    }

    #modal-content {
        width: 400px;
    }
}

@media screen and (max-width: 405px) {
    #main {
        grid-template-columns: 1fr;
    }
}

#radio-container {
    grid-row: 1;
    grid-column: 16 / span 11;
    position: relative;
}

@media screen and (max-width: 1600px) {
    #radio-container {
        grid-column: 16 / span 12;
    }
}

input[type=radio] {
    display: none;
}

.label-buy,
.label-sell {
    display: block;
    width: 97px;
    background-color: rgb(32, 32, 32);
    background-size: 180px 130px;
    position: absolute;
    top: 0;
}

.label-buy {
    border-radius: 0.35rem;
}

.label-sell {
    right: 0;
    border-radius: 0.35rem;
}

.label-buy span,
.label-sell span {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=radio]:checked+label {
    background-color: dodgerblue;
    color: white;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}